<h1>Below are the deleted QBO Account Attributes:</h1>
<p>
  Access Token: <%= @qbo_account.access_token %><br>
  Refresh Token: <%= @qbo_account.refresh_token %><br>
  QBO Account Created At: <%= @qbo_account.created_at %><br>
  QBO Account Updated At: <%= @qbo_account.updated_at %><br>
</p>

<%= link_to("Home", params[:host_uri]) %>
